* {
  border: 0;
  margin: 0;
  overflow-x: hidden;
}
header {
  width: 100%;
  padding: 0px 0.5rem;
  height: 5rem;
  background: rgb(102, 255, 109);
  background: linear-gradient(
    90deg,
    rgba(102, 255, 109, 1) 0%,
    rgba(48, 230, 63, 1) 35%,
    rgba(81, 246, 159, 1) 100%
  );
}

header img{
  width: 120px;
  height: 60px;
}
main {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
section{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#info h1{
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#info p{
  font-weight: bold;
}
img {
  width: 300px;
  height: 300px;
  margin: 1rem;
  border-radius: 2rem;
  /*box-shadow: 8px 8px 8px #FAEA10;*/
  filter: drop-shadow(8px 8px 8px #cdcdcd);
}
#colors{
  display: flex;
  gap: 1rem;
}
.color-circle {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
  cursor: pointer;
}
.car {
  position: relative;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(214, 214, 214);
}
/*
.car::before{
  content: '9';
  position: absolute;
  top: -0.75em;
  right: -0.75em;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 2;
}*/
ul {
  list-style: circle;
  padding: 0;
}
.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}
#botones {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0;
}
.btn {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.form{
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
}
#reviews{
  background-color: #eeeeee;
  border-radius: 1rem;
  padding: 2rem;
  width: 30%;
  height: 300px;
  overflow: hidden;
}
#reviews h2{
  margin:  0rem 0 1rem 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#reviews div{
  height: 250px;
  border-radius: 1rem;
}
#reviews ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#reviews ul li{
  height: fit-content;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
form{
  background-color: #d8d8d8;
  width: 30%;
  height: fit-content;
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
form input, textarea{
  border-radius: 0.2rem;
  width: 100%;
  height: 20%;
  padding: 0.5rem;
  margin: auto;
}
form select{
  width: 20%;
  height: fit-content;
  padding: 0.4rem;
}
.btn-sub{
  width: 50%;
  border-radius: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: auto;
  cursor: pointer;
}
.btn-sub:hover{
  background: rgb(102, 255, 109);
  background: linear-gradient(
    90deg,
    rgba(102, 255, 109, 1) 0%,
    rgba(48, 230, 63, 1) 35%,
    rgba(81, 246, 159, 1) 100%
  );
  color: white;
}
@media only screen and (min-width: 260px) and (max-width: 630px)  {
  main{
    flex-direction: column-reverse;
    gap: 1rem;
  }
  
}