* {
  border: 0;
  margin: 0;
}
header {
  width: 100%;
  height: 3rem;
  background-color: rgb(119, 193, 119);
}
main {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

img {
  width: 300px;
  height: 300px;
  margin: 1rem;
  border-radius: 2rem;
}
.color-circle {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
  cursor: pointer;
}
.car {
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(214, 214, 214);
}
ul {
  list-style: none;
  padding: 0;
}
.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}
#botones{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.btn{
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
